<!--<!DOCTYPE html>-->

<!--    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>-->


<!--</head>-->

<!--<body>-->
<!--<div class="container">-->
<!--    <h1>Welcome page</h1>-->
<!--</div>-->

<!--</body>-->


<!DOCTYPE HTML>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Главная</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>

</head>
<body th:style="'background: url(/images/homepage.jpg) no-repeat center center fixed;'">
<div th:replace="~{navigation :: navi(Home)}"></div>

<div class="container" align="center">
    <br>
<!--    <h1>@GeekMarket</h1>-->
    Добро пожаловать в наш замечательный магазин GeekMarket, работающий для Вас с 2021 года!
<!--    <img src="/images/homepage.jpg" width="1000" height="300" />-->

</div>

<!--<div align="center">-->
<!--    &lt;!&ndash;    <h3>${pageContext.request.userPrincipal.name}</h3>&ndash;&gt;-->
<!--    <div sec:authorize="isAnonymous">-->
<!--        <h4><a href="/login">Войти</a></h4>-->
<!--        <h4><a href="/registration">Зарегистрироваться</a></h4>-->
<!--    </div>-->
<!--    <div sec:authorize="isAuthenticated()">-->
<!--        <h4><a href="/logout">Выйти</a></h4>-->
<!--        <h4><a href="/product/listProducts">Перечень товаров</a></h4>-->
<!--    </div>-->
<!--    <h4><a href="/admin">Пользователи (только админ)</a></h4>-->
<!--</div>-->


</body>
</html>
